body{
    background: yellowgreen;
}


.conatiner {
    margin: 0 auto;
}

.jumbotron {
    margin-top: 50px;
    background-image: url(https://az616578.vo.msecnd.net/files/2016/10/11/636117476021220395-1275565435_Jungle-Photos.jpg);
    color: white;
}

button {
    margin: 3px 3px;
}

img {
    float: left;
}
